<nav class="mt-5 mx-5">
  <ul class="pagination">
    <li [ngClass]="{ disabled: currentPage === 0 }" class="page-item">
      <a class="page-link" href="#">Prev</a>
    </li>
    <li
      class="page-item"
      [ngClass]="{ active: currentPage === i }"
      *ngFor="let image of images; let i = index"
    >
      <a class="page-link" href="#">{{ i + 1 }}</a>
    </li>
    <li
      class="page-item"
      [ngClass]="{ disabled: currentPage === images.length - 1 }"
    >
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
